@font-face {
    font-family: SFR;
    src: url(/fonts/SFUIDisplay-Regular.ttf);
}

@font-face {
    font-family: SFB;
    src: url(/fonts/SFUIDisplay-Bold.ttf);
}

@font-face {
    font-family: SFL;
    src: url(/fonts/SFUIDisplay-Light.ttf);
}